<header>
  <img src="../components/pics/menu.png" alt="" id="humbergericon" />
  <img src="../components/pics/stack-overflow-3.png" alt="ll" id="SOFLogo" />
  <span id="words">
    <a href="">about</a>
    <a href="">Products</a>
    <a href="">for Teams</a>
  </span>
  <form action="../questions_page/questions.php" method="get" id="search_form">
    <input
      type="text"
      name="Searched_Value"
      id="Search"
      placeholder="Search"
      width="400px"
    />
  </form>
<input
    type="button"
    value="Log in"
    id="Login"
    onclick="window.location.href='../logIn_signIn/log_in.php'"
  />
  <input
    type="button"
    value="Sign up"
    id="Signin"
    onclick="window.location.href='../logIn_signIn/sign_up.php'"
  /> 
    <!-- <input type="button" value="Sign out" id="Signout" />-->
    
</header>
